{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Crear casa
            </legend>

            <div class="form-group">
                {{ form.direccion.label(class="form-control-label") }}

                {% if form.direccion.errors %}
                {{ form.direccion(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.direccion.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.direccion(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.numero_direccion.label(class="form-control-label") }}

                {% if form.numero_direccion.errors %}
                {{ form.numero_direccion(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.numero_direccion.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.numero_direccion(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>



    </form>


</div>


{% endblock content %}